aiogram==2.15
aiohttp==3.7.4.post0
anyascii==0.3.0
attrs==18.2.0
Babel==2.9.1
certifi==2021.5.30
idna==3.2
multidict==5.1.0
ordered-set==4.0.2
PyLaTeX==1.4.1
pytz==2021.1
requests==2.26.0
six==1.16.0
textsearch==0.0.21
tok==0.1.14
typing-extensions==3.10.0.2
urllib3==1.26.7
yarl==1.6.3
